description = "Default layout"

[staticPage]
useContent = 1
default = 1
==
<!DOCTYPE html>
<html>
    <html lang="de-DE" webcrx="">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% partial 'site/meta' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Winter CMS">
        <link rel="icon" href="{{ 'assets/images/sebcficon-32x32.webp'|theme }}" sizes="32x32" />
        <link rel="icon" href="{{ 'assets/images/sebcficon-192x192.webp'|theme }}" sizes="192x192" />
        <link rel="apple-touch-icon" href="{{ 'assets/images/sebcficon-180x180.webp'|theme }}" />
        <meta name="msapplication-TileImage" content="{{ 'assets/images/sebcficon-270x270.webp'|theme }}" />
        <link rel="stylesheet" href="{{ 'assets/css/pico.min.css'|theme }}"/>
        <link rel="stylesheet" href="{{ 'assets/css/default.css'|theme }}">
        {% styles %}
    </head>
    <body>

        <!-- Header -->
        <header>
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <main class="container">
            {% page %}
        </main>

        <!-- Footer -->
        <footer>
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        {% scripts %}
    </body>
</html>