<p>Wir können zum glück auch Local bearbeiten und in den Repo veröffentlichen.</p>

<ol>
	<li>Über VS Code mit WSL2 die Webseite bearbeiten und Local ausführen.</li>
	<li>Änderungen im Repo bereitstellen.</li>
	<li>Im Webspace veröffentlichen.</li>
</ol>

<p>Es ist super das wir im neuen Kern anfangen.</p>