[viewBag]
snippetCode = "button"
snippetName = "Button"
snippetProperties[title][title] = "Titel"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = "Titel eingeben"
snippetProperties[title][options][] = ""
snippetProperties[link][title] = "Link"
snippetProperties[link][type] = "string"
snippetProperties[link][default] = "#"
snippetProperties[link][options][] = ""
snippetProperties[tooltip][title] = "Tooltip"
snippetProperties[tooltip][type] = "string"
snippetProperties[tooltip][default] = ""
snippetProperties[tooltip][options][] = ""
snippetProperties[align][title] = "Ausrichtung"
snippetProperties[align][type] = "dropdown"
snippetProperties[align][default] = "left"
snippetProperties[align][options][right] = "Rechts"
snippetProperties[align][options][center] = "Mitte"
snippetProperties[align][options][left] = "Links"
==
<p style="text-align: {{ align }};"><a href="{{ link }}"><button data-tooltip="{{ tooltip }}">{{ title }}</button></a></p>