/* Green color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(71, 164, 23, 0.25);
  --pico-primary: #33790f;
  --pico-primary-background: #398712;
  --pico-primary-underline: rgba(51, 121, 15, 0.5);
  --pico-primary-hover: #265e09;
  --pico-primary-hover-background: #33790f;
  --pico-primary-focus: rgba(71, 164, 23, 0.25);
  --pico-primary-inverse: #fff;
}

/* Green color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(78, 179, 27, 0.1875);
    --pico-primary: #4eb31b;
    --pico-primary-background: #398712;
    --pico-primary-underline: rgba(78, 179, 27, 0.5);
    --pico-primary-hover: #5dd121;
    --pico-primary-hover-background: #409614;
    --pico-primary-focus: rgba(78, 179, 27, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Green color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: rgba(78, 179, 27, 0.1875);
  --pico-primary: #4eb31b;
  --pico-primary-background: #398712;
  --pico-primary-underline: rgba(78, 179, 27, 0.5);
  --pico-primary-hover: #5dd121;
  --pico-primary-hover-background: #409614;
  --pico-primary-focus: rgba(78, 179, 27, 0.25);
  --pico-primary-inverse: #fff;
}

body>header {
    padding: 0rem 0;
    align-content: center
  }

body>main {
    padding: 0rem 0;
  }

body>footer {
    padding: 0rem 0;
  }

  /* Hide the info from blog plugin */
.info {
    display: none;
}

header {
  background-color: #201f1f;
  color: white;
  padding: 1rem;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center
}

nav ul.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav ul.menu li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
      display: block;
  }

  nav ul.menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #201f1f;
  }

  nav ul.menu.active {
      display: flex;
  }

  nav ul.menu li {
      width: 100%;
      text-align: center;
  }
}
