title = "News Beitrag"
url = "/news/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404
==
<hgroup>
    <h1>{{ post.title }}</h1>
    <p>{{ post.summary|raw }}</p>
</hgroup>

{% component 'blogPost' %}