[viewBag]
title = "Discord"
url = "/discord"
layout = "default"
is_hidden = 0
navigation_hidden = 0
meta_title = "Die offizielle Discord Server von SebCF"
meta_description = "Komm in unsere Discord Server und verpasse nix von uns."
==
<hgroup>

	<h1>Discord</h1>

	<p>Komm in unsere Discord Server und verpasse nix von uns.</p>
</hgroup>

<p style="text-align: center;"><img src="/storage/app/media/Discord2020-1.jpg" style="width: 537px;" class="fr-fic fr-dib fr-fil"></p>

<p>Auf diesen Discord Server könnt ihr Reden oder Schreiben auch auf dein Handy 🙂
	<br>in #news wird ihr auf einiges Informiert und kommen auch Videos von SebCF oder Clips die hier auf Discord gezeigt werden.</p>

<p><span style="color: rgb(255, 255, 255);"><span style="background-color: rgb(97, 189, 109);">Wenn du einen Creator Rolle bekommen willst, dann muss du Wichtige Anforderungen und Regeln erfüllen.&nbsp;</span><a href="/news/youtuber-streamer-rolle-sind-jetzt-verfuegbar/"><span style="background-color: rgb(247, 218, 100);">Bitte diesen Beitrag lesen!</span></a></span></p>

<h2>Regeln</h2>

<h4 data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">1. Werbung ist nur teilweise erlaubt</h4>
<div data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">Du kannst Werbung nur in den #werbung Textkanal schreiben. (Z.b. YouTube link usw… aber keine Dateien)</div>

<h4 data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">2. Kein Spammen</h4>
<div data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">Nicht immer wieder Wörter oder Zahlen wiederholen usw…</div>

<h4 data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">3. Keine Beleidigungen</h4>

<h4 data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">4. Freundlich bleiben</h4>

<h4 data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">5. Keine unangemessenen Inhalte</h4>
<div data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">gilt auch für Discordname und Profilbilder.</div>
<div data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default">
	<br>
</div>
<div data-element_type="widget" data-id="492e97f" data-widget_type="text-editor.default"><em><strong><span style="color: rgb(184, 49, 47);">Wenn du diese Regeln nicht einhälst dann wirst du gekickt oder gebannt werden.</span></strong></em><strong><span style="color: rgb(184, 49, 47);">&nbsp;</span></strong></div>
<div data-dce-advanced-background-color="#A5B323" data-element_type="widget" data-id="8f1e5f2" data-widget_type="text-editor.default">INFO: Dein Discord Account muss mit einer E-Mail Adresse verknüpft sein um hier beitreten zu können!</div>
<figure data-inspector-id="inspectorid-725082301115" data-property-align="center" data-property-link="https://discord.gg/f5UAKeb" data-property-title="Jetzt Joinen" data-property-tooltip="Klick mich um Discord zu öffnen" data-snippet="button">&nbsp;</figure>