[viewBag]
title = "Test"
url = "/test"
layout = "default"
is_hidden = 0
navigation_hidden = 0
==
<h1>Das ist eine Test Seite</h1>

<p>Wow! sehr geil mit diesen möglichkeit kann man einfacher mehr Seiten erstellen.</p>