[viewBag]

[staticMenu]
code = "menu"
==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<nav class="container-fluid">
  <ul>
    <button class="hamburger" aria-label="Menü öffnen">
      ☰
    </button>
    <li><a href="/"><img src="{{ 'assets/images/SebCFWhite.webp' | theme }}" width="130"></a></li>
  </ul>
  <ul class="menu">
    {% for item in staticMenu.menuItems %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    <li><a href="{{ backendUrl }}" role="button">Zur Backend</a></li>
  </ul>
</nav>
{% put scripts %}
<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        document.querySelector('nav ul.menu').classList.toggle('active');
    });
</script>
{% endput %}