{% if post %}
    <title>{{ post.title }} - #SebCF</title>
    <meta name="description" content="{{ post.summary|raw }}">
    <meta name="title" content="{{ post.title }}">
{% else %}
    <title>{{ this.page.title }} - #SebCF</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
{% endif %}